


.logo {
  height: 150px;
  cursor: pointer;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}



.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #041daa;
  color: white;
}

.topnav a.logout {
  position: absolute;
  right: 0;
}